<div class="col md-12 mt-3">
  <h1>{{pageTitle}}</h1>

  <p>Loguéate</p>

  <form class="col-md-5 ml-0 pl-0"
        #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

    <div class="form-group">
      <label>Email
        <input type="email" name="email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
               #email="ngModel" [(ngModel)]="user.email" required>
      </label>

      <small *ngIf="!email.valid && email.touched" class="invalid-feedback d-block">
        El campo email no es válido.
      </small>
    </div>

    <div class="form-group">
      <label>Contraseña
        <input type="password" name="password" class="form-control"
               #password="ngModel" [(ngModel)]="user.password" required>
      </label>

      <small *ngIf="!password.valid && password.touched" class="invalid-feedback d-block">
        El campo contraseña no es válido.
      </small>
    </div>

    <input type="submit" value="Login" class="btn btn-success"
           [disabled]="loginForm.invalid">

  </form>

</div>


