<div>
  <h1>{{pageTitle}}</h1>
</div>
<hr>

<div class="loading" *ngIf="!category">
  Cargando...
</div>

<div class="container-fluid mt-3" *ngIf="category">
  <h1>{{category.name}}</h1>


  <div class="loading" *ngIf="!posts">
    Cargando listado de entradas...
  </div>


  <div class="alert alert-warning" *ngIf="posts && posts.length == 0">
    No hay entradas que mostrar para esta categoría.
  </div>

  <!-- LISTADO DE POST -->
  <app-post-list
    [posts]=posts
    [identity]="identity"
    [url]="url"
    (delete)="deletePost($event)">
  </app-post-list>


</div>
